APP_NAME="Pallet Scan API"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.example.com
NPM_NETWORK=nginx-proxy-manager_default

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=sqlsrv
DB_HOST=host.docker.internal
DB_PORT=1433
DB_DATABASE=pallet_scan
DB_USERNAME=
DB_PASSWORD=
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=false
SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database
RUN_MIGRATIONS=true

PORTAL_DB_HOST=host.docker.internal
PORTAL_DB_PORT=1433
PORTAL_DB_DATABASE=portal
PORTAL_DB_USERNAME=
PORTAL_DB_PASSWORD=
PORTAL_DB_ENCRYPT=yes
PORTAL_DB_TRUST_SERVER_CERTIFICATE=false

ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
ALIBABA_CLOUD_OCR_ENDPOINT=ocr-api.cn-hangzhou.aliyuncs.com
